<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Marcador Pádel 2026</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="body">
  <div class="box">

    <img
      src="{% static 'brand/logo-liga.png' %}"
      alt="Liga"
      class="logo"
    >

    <h1>Marcador de Pádel</h1>

    <p>Creá un partido nuevo para empezar.</p>

    <form action="/nuevo/" method="get">
      <button type="submit" class="btn-primary">
        Crear partido
      </button>
    </form>

  </div>
</body>
</html>